@import "vars";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    background: $background;
    background: linear-gradient($background, darken($background, 10%));
    color: $color;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

footer {
    text-align: center;
    padding: 12px 0;
}

a,
a:hover {
    color: $primary;
}

h1 {
    color: rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 64px;
    line-height: 1.05;
    background: linear-gradient(
        20deg,
        rgb(255, 197, 0) 10%,
        rgb(0, 88, 255) 100%
    );
    -webkit-background-clip: text;
    margin: 74px 12px 12px;
}

h1 small {
    font-size: 24px;
    font-weight: normal;
    display: block;
    color: rgba(255, 255, 255, 0.9);
    max-width: 661px;
    margin: 21px auto 34px;
    line-height: 1.2;
}
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
        margin: 62px 12px 12px;
    }
    h1 small {
        font-size: 20px;
    }
}


h2 {
    margin-bottom: 0;
    margin-top: 6px;
}
h2 + p {
    margin-top: 0;
}

hr {
    margin: 14px 0;
    border: none;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
}

.btn, button {
    margin: 6px;
    background: $primary;
    border: none;
    color: $background;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
