@import "vars";
nav {
    background: linear-gradient($background, darken($background, 10%));
    a {
        display: inline-block;
        padding: 18px 12px;
        font-size: 18px;
        color: $color;
        text-transform: uppercase;
    }
}
